.md-header{
    background-color: #f3f58f;
}

@media screen and (min-width: 790px) {
    .md-container{
        min-width: 100%;
    }
    .md-grid{
        max-width: 100%;
    }

    .md-sidebar{
        width: auto;
    } 
    .md-content{
        min-width: 70%;
    }
}

.md-footer-meta__inner md-grid{
    align-content: center;
    align-self: center;
}

.md-footer{
    background-color: transparent;
}

/* Fix padding Chrome browsers */
@supports selector(::-webkit-scrollbar) {
    .md-sidebar__scrollwrap {
        scrollbar-gutter: auto
    }

    [dir=ltr] .md-sidebar__inner {
        padding-right: 0;
    }

    [dir=rtl] .md-sidebar__inner {
        padding-left: calc(100% - 11.5rem)
    }
}
